.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    padding-left: 50px;
    padding-top: 15px;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
}